

#violet{
    background-color: #E579E6;
    width: 800px;
    height: 80px;
    margin-top: 20px;
    margin-left: 320px;
}

#orange{
    background-color: #E1D67A;
    width: 800px;
    height: 400px;
    margin-top: 20px;
    margin-left: 320px;

}
